// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.c-caption{
  font-size: 17px;
  color: #ffff66;
  text-shadow: 1px 1px #000000;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 38%;
  margin: auto;
}
