<div class="jumbotron"></div>
<div class="container" style="text-align: center;">
  <%= image_tag "working.jpg", size: "400" %>
</div>
<div class="container">
  <br><br><br>
  <h3>Info#about</h3>
  <p>Find me in app/views/info/about.html.erb</p>
</div>
